$module: 'btn';

.#{$module} {
	$fontSize: 16;
	font-size: $fontSize+px;
	display: inline-block;
	position: relative;
	border: none;
	outline: none;
	padding: 10px 50px;
	cursor: pointer;

	&:active {
		top: 2px;
	}

	&--1 {
		@extend .#{$module};
		background-color: transparent;
		border: 2px solid $color-1;
		color: $color-1;
		overflow: hidden;

		&:before {
			content: '';
			position: absolute;
			z-index: -1;
			width: 20%;
			top: -25px;
			bottom: -25px;
			left: -35%;
			background-color: rgba(white,0.5);
			transform: rotate(30deg);
			transition: all 0.2s ease-in;
		}

		&:hover:before {
			left: 110%;
		}
	}

	&--2 {
		@extend .#{$module}--1;
		
		&:after {
			content: '';
			position: absolute;
			z-index: -1;
			width: 20%;
			top: -25px;
			bottom: -25px;
			right: -35%;
			background-color: rgba(white,0.5);
			transform: rotate(-30deg);
			transition: all 0.2s ease-in 0.2s;
		}

		&:hover:after {
			right: 110%;
		}
	}

	&--3 {
		@extend .#{$module}--1;

		&:before {
			top: 2px;
			bottom: 2px;
			left: 2px;
			right: 2px;
			max-width: 0;
			width: 100%;
			background-color: rgba(white,0.5);
			transform: none;
			transition: max-width 0.2s ease-in;
		}

		&:hover:before {
			left: auto;
			max-width: 100%;
		}
	}

	&--4 {
		@extend .#{$module}--3;

		&:before {
			max-width: 100%;
			transform: scale(0);
			transition: transform 0.2s ease-in;
		}

		&:hover:before {
			transform: scale(1);
		}
	}

	&--5 {
		@extend .#{$module};
		background-color: transparent;
		color: $color-1;
		border: 2px solid $color-1;
		box-shadow: 0;
		transition: box-shadow 0.2s ease-in, text-shadow 0.2s ease-in;

		&:before {
			content: '';
			position: absolute;
			z-index: -1;
			top: -2px;
			bottom: -2px;
			left: -2px;
			right: -2px;
			border: 2px solid white;
			opacity: 1;
			transition: transform 0.2s ease-in, opacity 0.3s ease-in 0.2s;
		}
		
		&:hover {
			box-shadow: inset 0 0 20px white, 1px 1px 1px rgba($color-2,0.5);
			text-shadow: 1px 2px 3px rgba($color-2,0.5);
		}

		&:hover:before {
			transform: scale(1.1);
			opacity: 0;
		}
	}

	&--6 {
		@extend .#{$module};
		border: none;
		background-color: transparent;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			right: 75%;
			top: 45%;
			bottom: 45%;
			background-color: $color-3;
			transition: all ease-in 0.2s,transform ease-in 0.2s 0.2s;
		}

		&:hover:before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: transparent;
			border: 2px solid $color-3;
			transform: rotate(-4deg);
		}
	}

	&--7 {
		@extend .#{$module};
		background-color: transparent;
		border: none;

		&:before {
			content: '';
			position: absolute;
			left: 25%;
			right: 25%;
			top: 95%;
			bottom: 0;
			background-color: $color-3;
			transition: all ease-in 0.2s, transform ease-in 0.2s 0.2s;
		}

		&:hover:before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: transparent;
			border: 2px solid $color-3;
			transform: rotate(4deg);
		}
	}

	&--8 {
		@extend .#{$module};
		background-color: $color-1;
		color: white;
		border-radius: 6px;
		box-shadow: 0 6px darken($color-1,15%);

		&:hover {
			top: 2px;
			box-shadow: 0 4px darken($color-1,15%);
		}

		&:active {
			top: 6px;
			box-shadow: none;
		}
	}

	&--9 {
		@extend .#{$module};
		background-color: $color-1;
		color: white;
		border-radius: 6px;
		box-shadow: 0 6px darken($color-1,15%);
		overflow: hidden;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: -20px;
			height: 5px;
			width: 5px;
			background-color: white;
			transition: left 0.2s ease-in;
		}

		&:hover:before {
			left: 20px;
		}
	}

	&--10 {
		@extend .#{$module};
		background-color: $color-1;
		color: white;
		border-radius: 6px;
		box-shadow: 0 6px darken($color-1,15%);
		overflow: hidden;
		transition: color 0.1s ease-in;

		&:before {
			content: '';
			display: block;
			position: absolute;
			transform: translateY(-700%)translateX(-50%);
			top: 50%;
			left: 50%;
			height: 5px;
			width: 5px;
			background-color: white;
			transition: transform 0.2s ease-in 0.15s;
		}

		&:hover {
			color: $color-1;
		}

		&:hover:before {
			transform: translateY(-50%)translateX(-50%);
		}
	}

	&--11 {
		@extend .#{$module};
		background-color: transparent;
		color: $color-1;

		svg {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
		}

		rect {
			stroke: $color-1;
			stroke-width: 4;
			stroke-dasharray: 422,0;
			transition: all 0.8s ease-in;
		}

		&:hover rect {
			stroke-width: 6;
			stroke-dasharray: 25,275;
			stroke-dashoffset: 48;
		}
	}
}